<a href="https://colab.research.google.com/github/robertoarturomc/ProgramacionConcurrente/blob/main/Examen_Final_Parte_2_Version_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Examen Final, Parte 2

¡Muchas felicitaciones por haber llegado hasta aquí! Este será el último ejercicio que tendrás que hacer en esta clase.

Para realizarlo, crea un programa que haga las siguientes instrucciones. Al finalizar, descarga el archivo en formato .ipynb y cárgalo en Blackboard.

## Instrucciones

a) En la primer celda, sólo escribe tu ID. Me servirá como referencia.

b) Después, crea un programa de Spark, el cuál deberá cumplir con las siguientes tareas, **dependiendo de cada uno de los valores de tu ID**.

Ejemplo: el ID de estudiante del profesor era "143915". Entonces, mi programa debe hacer la tarea 1, la 4, la 3, la 9, la 1 y la 5, **en ese orden**. Como mi ID tiene dos "1", la segunda vez deberé tomar la segunda tarea especificada. Si mi ID tuviera 3 o más "1", ¡felicidades! Ya no tengo que hacer nada más.

Estaremos trabajando con este Dataset:
https://www.kaggle.com/datasets/victorsoeiro/netflix-tv-shows-and-movies?select=titles.csv

Nota cómo tiene dos tablas: 'credits' y 'titles'.

### Tareas:

1: Lee correctamente el archivo 'titles.csv' en un DataFrame de Spark.
*   1, segunda aparición: Ordena de manera descendiente según "release_year".

2: Filtra y quédate con sólo las películas con runtime mayor a 60.
* 2, segunda aparición: Ordena de manera ascendente según "id".

3: Filtra y quédate con sólo las películas con runtime menor a 120.
* 3, segunda aparición: Ordena de manera ascendente según "release year".

4: Quita la columna "production_countries".
* 4, segunda aparición: Ordena de manera descendente según "id".

5: Quita la columna "imdb_votes"
* 5, segunda aparición: Ordena de manera descendente según "runtime".

6: Cambia el tipo de Dato de "seasons". No importa a qué lo cambies, mientras se cambie el tipo de Dato.
* 6, segunda aparición: Ordena de manera ascendente según "runtime".

7: Crea una nueva variable: "age", que sea 2024 - "release_year".
* 7, segunda aparición: Ordena de manera ascendente según "imbd_score".

8: Convierte la variable "description" a puras mayúsculas.
* 8, segunda aparición: Ordena de manera ascendente según "tmdb_popularity".

9: Haz un inner join con la tabla 'credits'. Filtra para mantener sólo las películas en donde apareció "Meryl Streep".
* 9, segunda aparición: Ordena de manera descendente según "imbd_score".

0: Lee la tabla 'credits'. Agrupa esa tabla para tener el conteo de actores por película/serie. Haz el join correspondiente para agregar el número de actores como una columna nueva a 'titles0.
* 0, segunda aparición: Ordena de manera descendente según "tmdb_popularity".

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit # y las demás que necesites

In [ ]:
spark = SparkSession.builder.master("local[*]").getOrCreate()